mixin emosi(a, a1, b, b1, c, c1, d, d1, e, e1, f)
    .sec
        .sec-sad 
            h3=a
            p=a1
        .sec-angry     
            h3=b
            p=b1   
        .sec-happy 
            h3=c 
            p=c1 
        .sec-stress 
            h3=d 
            p=d1
        .sec-hopeless 
            h3=e 
            p=e1
    .sec2 
        .sec2-img 
            h1=f
    .sec-line
        hr
        .sec-line-teks
            .sec-line-teks1
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae laboriosam ratione rerum neque perferendis
            .sec-line-teks2 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae laboriosam ratione rerum neque perferendis
            .sec-line-teks3 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae laboriosam ratione rerum neque perferendis


